;; Copy this file to validator's directory.

{:validators
 {:validator.general/file-format ["(test|sample|example)/[\\w-]+\\.ya?ml$"]
  :validator.spec/element ["(test|sample|example)/[\\w-]+\\.ya?ml$"]}

 ;; The classpaths including validator source codes, the default value is
 ;; `["validator"]`.
 ;; :paths ["validator"]
 
 ;; Whether to color the output result, the default value is `true`
 ;; :colorize true

 ;; Set an error-value print function, the default value is `pprint`
 ;; :format {:error-value :pprint}

 :deps [[clj-hgvs "0.4.0"]]}
